@use "sass:math";

// Підключення міксинів ===========================================================================================================================================================================================================================================================================
@import "base/mixins";

// Підключення шрифтів ===========================================================================================================================================================================================================================================================================

// Підключити, якщо є локальні файли шрифтів
@import "fonts/fonts";

// Підключення іконкових шрифтів ==============================================================================================================================================================================================================================================================================
// Підключити, якщо є файл іконкового шрифту
@import url("https://fonts.googleapis.com/css?family=Heebo:regular,100..300,500,700,900&display=swap");
@import "fonts/icons";

// ============================================================================================================================================================================================================================================================================================================================================================================================
// Налаштування шаблону ============================================================================================================================================================================================================================================================================================================================================================================================
// ============================================================================================================================================================================================================================================================================================================================================================================================

// За замовчуванням шрифт ==============================================================================================================================================================================================================================================================================
$fontFamily: "Heebo";
$fontSize: toRem(16); // де 14(px) - розмір шрифту за замовчуванням з макету

// Основні кольори
$mainColor: #ebe3dc; // Колір шрифту за замовчуванням
$opasityColor: #e4e4e4a2;
$opAccentColor: #f5ce7a;
$opAccentColor1: #dbd5d0;
$accentColor: #e27413;
$accentColor1: #462f08;
$bgColor: #1a1919;
$bgColor2: #44413c;
$textColor: #0c1725;
// Палітра кольорів
 @import "base/colors-palette";

// Налаштування адаптивної сітки ===============================================================================================================================================================================================================================================================================================

// Мінімальна ширина сторінки
$minWidth: 320;
// Ширина полотна (макету)
$maxWidth: 1920;
// Ширина обмежуючого контейнера (0 = немає обмеження)
$maxWidthContainer: 1440;
// Загальний відступ у контейнера
// (30 = по 15px ліворуч і праворуч, 0 = немає відступу)
$containerPadding: 30;

// Ширина спрацьовування першого брейкпоінту
$containerWidth: $maxWidthContainer + $containerPadding;

// Брейк-поїнти
$pc: toEm($containerWidth); // ПК, ноутбуки, деякі планшети у горизонтальному положенні
$tablet: toEm(991.98); // Планшети, деякі телефони в горизонтальному положенні
$mobile: toEm(767.98); // Телефони L
$mobileSmall: toEm(479.98); // Телефони S

// Тип адаптива:
// 1 = чуйність (у контейнера немає брейкпоінтів),
// 2 = по брейк-поїнт (контейнер змінює свою ширину по брейк-поїнт)
$responsiveType: 1;

// ============================================================================================================================================================================================================================================================================================================================================================================================
// ============================================================================================================================================================================================================================================================================================================================================================================================

// Обнулення ============================================================================================================================================================================================== =============================================================================================== ===============================================================================================
@import "base/null";

// Стилі тега BODY ============================================================================================================================================================================================================================================================================================================================================================================================
body {
	position: relative;
	background: $bgColor;
	// Скролл заблоковано
	.lock & {
		overflow: hidden;
		touch-action: none;
		overscroll-behavior: none;
	}
	// Сайт завантажений
	.loaded & {
		//opacity: 1;
	}
	.lenis & {
		opacity: 1;
	}
}
// Оболонка wrapper ============================================================================================================================================================================================================================================================================================================================================================================================================================================
.wrapper {
	min-height: 100%;
	display: flex;
	flex-direction: column;
	overflow: hidden;
	z-index: 1;
    position: relative;
	top: 100%;
	@supports (overflow: clip) {
		overflow: clip;
	}
	// Притискаємо footer
	> main {
		flex: 1 1 auto;
	}
	// Фікс для слайдерів
	> * {
		min-width: 0;
	}
	::selection {
		background: $opAccentColor; /* Safari */
		}
	::-moz-selection {
		background: $opAccentColor; /* Firefox */
		}	
}
// Обмежуючий контейнер ======================================================================================================================================================================================================================

// (i) Стилі будуть застосовуватись до
// всіх класів, що містять *__container
// Наприклад header__container, main__container і т.п.
// Сніппет (HTML): cnt

@if ($responsiveType==1) {
	// Чуйна
	[class*="__container"] {
		@if ($maxWidthContainer>0) {
			max-width: toRem($containerWidth);
			margin: 0 auto;
		}
		@if ($containerPadding>0) {
			@if ($maxWidthContainer>0) {
				padding: 0 toRem(math.div($containerPadding, 2));
			} @else {
				@include adaptiveValue("padding-left", math.div($containerPadding, 2), 15);
				@include adaptiveValue("padding-right", math.div($containerPadding, 2), 15);
			}
		}
	}
} @else {
	// Брейк-поїнтами
	[class*="__container"] {
		margin: 0 auto;
		@if ($maxWidthContainer>0) {
			max-width: toRem($containerWidth);
		} @else {
			@if ($containerPadding>0) {
				padding: 0 toRem(math.div($containerPadding, 2));
			}
		}
		@media (max-width: $pc) {
			max-width: toRem(970);
		}
		@media (max-width: $tablet) {
			max-width: toRem(750);
		}
		@media (max-width: $mobile) {
			max-width: none;
			@if ($containerPadding>0 and $maxWidthContainer>0) {
				padding: 0 toRem(math.div($containerPadding, 2));
			}
		}
	}
}

// Підключення базових стилів, шаблонів (заготівель) та допоміжних класів
// Для підключення/вимкнення конкретних стилів дивись base.scss
@import "base";

// Підключення стилів загальних елементів проекту
@import "common";

// Підключення стилів окремих блоків
@import "header";
@import "footer";
@import "policy";
@import "cookie";

// Підключення стилів окремих сторінок
@import "home";
@import "works";
@import "bio";


//<ОСНОВНОЙ БЛОК>====================================================================================================
.page {
	flex: 1 1 auto;
	// background-image: radial-gradient(ellipse at 50% 50%, 
	// 				rgba(109, 16, 185, .3411764706) 0, 
	// 				var(--background-color) 50%);
	//background: var(--background-gradient);
	@media (max-width: $mobile) {
		//padding: 30px 0px 0px 0px;
	}
}
//===================================================================================================================================
// .social {
// 	display: flex;
// 	justify-content: center;
// 	align-items: center;
// 	// .social__item
// 	&__item {
// 		transition: color 0.3s ease 0s;
// 		margin: 0px 17px;
// 		font-size: 30px;
// 		color: inherit;
// 		@media (min-width: $tablet) {
// 			&:hover {
// 				color: #ff6464;
// 			}
// 		}
// 	}
// }
//==============  Noise  ==========================================================================================================================================
.noise {
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 200;
	position: fixed;
	pointer-events: none;
	&::before{
		content:'';
		position: absolute;
		top: -10rem;
		left: -10rem;
		width: calc(100% + 20rem);
		height: calc(100% + 20rem);
		background: url('../img/noise.png');
		background-position: 50%;
		pointer-events: none;
		z-index: 200;
		animation: noise 2s steps(2) infinite;
	}
}
@keyframes noise {
	0% {
		transform: translate3d(0, 9rem, 0);
	}
	10% {
		transform: translate3d(-1rem, -4rem, 0);
	}
	20% {
		transform: translate3d(-8rem, 2rem, 0);
	}
	30% {
		transform: translate3d(9rem, -9rem, 0);
	}
	40% {
		transform: translate3d(-2rem, 7rem, 0);
	}
	50% {
		transform: translate3d(-9rem, -4rem, 0);
	}
	60% {
		transform: translate3d(2rem, 6rem, 0);
	}
	70% {
		transform: translate3d(7rem, -8rem, 0);
	}
	80% {
		transform: translate3d(-9rem, 1rem, 0);
	}
	90% {
		transform: translate3d(6rem, -5rem, 0);
	}
	to {
		transform: translate3d(-7rem, 0, 0);
	}
}

//========================================================================================================================================================


   //  не актуальный нойз
.main-content::before {
	content: "";
	z-index: 100;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/1295275/background-noise.png');
	animation: 0.2s infinite noise;
	pointer-events: none;
  }
//   @keyframes noise {
// 	0%, 100% {
// 	  background-position: 0 0;
// 	}
// 	10% {
// 	  background-position: -5% -10%;
// 	}
// 	20% {
// 	  background-position: -15% 5%;
// 	}
// 	30% {
// 	  background-position: 7% -25%;
// 	}
// 	40% {
// 	  background-position: 20% 25%;
// 	}
// 	50% {
// 	  background-position: -25% 10%;
// 	}
// 	60% {
// 	  background-position: 15% 5%;
// 	}
// 	70% {
// 	  background-position: 0% 15%;
// 	}
// 	80% {
// 	  background-position: 25% 35%;
// 	}
// 	90% {
// 	  background-position: -10% 10%;
// 	}
//   }
  //========================================================================================================================================================
::-webkit-scrollbar {
    width: toRem(5);
	height: toRem(5);
	transition: all 0.85s cubic-bezier(.7, 0, .2, 1);
}

::-webkit-scrollbar-thumb {
    background: $accentColor;
	transition: all 0.85s cubic-bezier(.7, 0, .2, 1);
}

::-webkit-scrollbar-thumb:hover {
    background: $opAccentColor;
}

::-webkit-scrollbar-track {
    background: $bgColor;
}
